@import 'app/styles/theme';

& {
    background-color: $light-grey;
    font: $font-header;
}

h1 {
    margin: 0px;
    padding: 10px;
}

.github {
    height: 30px;
    transform: 'scale(0.5)';
    vertical-align: middle;
    text-decoration: none;
}