{{#if results.outOfDate}}
    <span class="negative">{{fa-icon "remove" size="5"}}</span>
    Some Packages Need To Be Updated
{{else}}
    <span class="positive">{{fa-icon "check" size="5"}}</span>
    All Packages Are Up To Date
{{/if}}